.header, .footer {
    height: 75px;
    min-height: 75px;
    max-height: 75px;
}

/* ----------------- WEEK 3 WEBPAGE.HTML ---------------- */


.col-md-2, .col-md-8{
height: 500px;
min-height: 500px;
max-height: 500px;
}


/* ---------------- PORTFOLIO.HTML --------------- */

#one{
  min-height: 200px;
}

#two, #three{
  max-width: 1100px;

  margin-left: auto;
  margin-right: auto;
}

.col-md-3{
height: 100px;
min-height: 100px;
max-height: 100px;
}
